
<footer class="footer bg-dark" id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <p class="text-center text-light">&copy; 2023 - Norsera</p>
      </div>
      <div class="col-md-6">
        <div class="text-center" id="footer_yazı">
          <ul class="list-inline">
            <li class="list-inline-item"><a href="" class="text-light" style="font-size: 1.2rem; text-decoration: none;">Contact</a></li>
            <li class="list-inline-item"><a href="" class="text-light" style="font-size: 1.2rem; text-decoration: none;">Privacy Policy</a></li>
            <li class="list-inline-item"><a href="" class="text-light" style="font-size: 1.2rem; text-decoration: none;">Imprint</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
