

<div class="gif-container">
  <img src="https://media.tenor.com/zcFgNhx_OSEAAAAC/counterstrike-csgo.gif" alt="Dönen GIF" class="gif">
  <div class="logo">
    <img src="https://pbs.twimg.com/profile_images/1651139432232153088/tsWVUQHV_400x400.png" alt="Şirket Logosu">
  </div>
  <div class="company-name">
    NORSERA
  </div>
</div>
